<section id="contact" class="contact">
    <div class="container contact-content">
        <h2>Kontakt</h2>
        <p class="intro">Haben Sie Interesse an einer Zusammenarbeit? Ich freue mich auf Ihre Nachricht.</p>
        
        <div class="contact-grid">
            <div class="contact-info">
                <h3>Adresse & Email</h3>
                <p>Dr.-Ing. Tilmann Walter</p>
                <p>Softwareentwicklung & Systemanalyse</p>
                <p><a href="mailto:info@itw-services.de">info@itw-services.de</a></p>
                <p>Tel: <a href="tel:+4916090543306">+49 160 90543306</a></p>
            </div>
            <div class="social-links">
                <h3>Social Media</h3>
                <ul>
                    <li><a href="www.linkedin.com/in/tilmann-walter-021b9072">LinkedIn Profil</a></li>
                    <li><a href="https://www.xing.com/profile/Tilmann_Walter/web_profiles?nwt_nav=profile_icon">Xing Profil</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
